<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @topup do |f| %>
        <%= f.input :amount_cents, label: "Amount in £" %>
        <%= submit_tag 'Add Funds', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
