<div class="welcome-email" font-family: 'Asap', sans-serif;
  color: #171236;>
  <h1>Welcome</h1>
  <p>Hi <%= @user.email %>,</p>
  <p>Are you ready to make superb returns @ BeeSharia!</p>
  <p>See ya on our platform!</p>
</div>
