.more-info-banner {
  height: 350px;
  background-size: cover;
  position: relative;
}

.top-info {
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-category {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  h3 {
    max-width: 180px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px;
  }
}

.days-left h5 {
 color: white;
 font-size: 15px;
}

.form-inline {
  display: flex;
  height: 41px;

}

.invest-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0px;
}

.inputs-inline {
  margin-right: 10px;
}

.business-category {
  width: 200px;
}

.large-arrow-white {
  margin-right: 10px;
}

.company_details{
  display: flex;
  justify-content: space-between;
  p {
    font-size: 13px;
    font-weight: lighter
  }
  span {
    font-weight: 400;
  }
}

.company_details_1 {
  flex-grow: 1;
  padding-right: 20px;
}

.company_details_2 {
  flex-grow: 1;
  padding-left: 20px;
}

.container_general_info{
  background:white;
  color: #1C144C;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #73F0D6;
  border-radius: 15px;
  flex-grow: 1;
  padding: 30px 40px;
  margin-bottom: 20px;
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
  }
}

#other_info {
  height: 200px;
  margin-bottom: 20px;
}

.right_hand_container {
  flex: 0 0 350px;
  margin-right: 0px;
  margin-left: 20px;
  p {
    font-size: 13px;
  }
}

#progress-more-info {
  width: 400px;
  height: 50px;
  background-color: white;
  span {
    font-size: 13px;
  }
}

.key-info-container {
  display: flex;
  margin: 30px 200px;
  justify-content: space-between;
  align-items: center;
}

.key-info-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tag {
    margin-right: 6px;
    padding: 9px 14px;
    background-color: #1C144C;
    color: white;
    border-radius: 60px;
    font-weight: medium;
    font-size: 13px;
  }
}

.wrapper_company_show {
  display: flex;
  margin: 0px 200px;
  margin-top: 50px;
  justify-content: space-between;
}

.buttons_company_show {
   flex: 40%;
   margin-right: -12px;
}

.subheading {
  margin-top: 30px;
  font-weight: 30px;
}

.links {
  margin-top: 30px;
}

.edit-button {
  color: white;
  font-size: 13px;
  font-weight: bolder;

  padding: 10px 16px;
  background-color: #73F0D6;
  color: white;
  border-radius: 60px;
  font-weight: medium;
  font-size: 15px;
  padding-left: 142px;
  padding-right: 150px;
}

.edit-button:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}



