// page structure css

.wrapper {
  background-color: #ECECEC;
  margin: 0px;
  margin-top: 20px;
}

.all-container {
  width: 1300px;
  margin: auto;
  padding-top: 40px;
  h3 {
    font-size: 20px;
    span{
      text-decoration: underline;
    }
  }
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: top;
  margin-top: 30px;
}

// filter-bar at top of page styling

.form-custom-inline {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
}

.filter-container {
  padding: 25px 50px;
  background-color: white;
  position: sticky;
  border: none;
  border-radius: 10px;
  border-top: none;
  margin: 0px 200px;
}

.filter-box {
  background-color: rgb(250, 250, 250);
  box-shadow: inset 1px, 1px, 1px;
  width: 200px;
  font-size: 14px;
  color: #818181;
  border: 2px solid #E7E7E7;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 10px;
}

.filter-button {
  color: white;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 0px;
  background-color: #73F0D6;
  height: 40px;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin-top: 0px;
  text-decoration: none;
}

.filter-button:hover {
  color: #1C144C;
}

.h5-title {
  margin-top: 25px;
}

// navbar tabs styling in css

.nav {
  border: none;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
    border-style: none;
    zoom:1;
}

.tab-content {
  background-color: #F4F4F4;
}

.nav-tabs {
    text-align: center;
    background-color: #F4F4F4;
    border: none;
}

.nav-tabs > li.active > a {
  background-color: white !important;
  top-border-radius: 5px;
  border: none;
  color: #1C144C;
}

// Funds Tab

.funds-styling {
  background-color: white;
  height: 400px;
  border-radius: 10px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  border-top: none;
  text-align: center;
}

// Summary Tab

.dashboard-container {
  display: flex;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
}

.dashboard-figures {
  width: 565px;

}

.available-funds, .current-risk-profile, .account-history, .campaign-pledge, .expected-returns, .amount-invested {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}


.current-risk-profile h2 {
  text-align: center;
}

.account-history h2 {
  text-align: center;
}

.dashboard-container h2 {
    font-size: 18px;
    margin-top: 0px;
    font-weight: bold;
    color: #171236;
}

.dashboard-summary {
  flex-grow: 1;
}

// Nav Tabs Styling

.nav-tabs > li.active > a {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-style: Asap;
  color: #171236;
}
