.white-background {
  background-color: white;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -80px;
}

// div for h1 and h2 elements positioning. font style and size
.home-headers {
  padding-top: 100px;
  padding-left: 200px;
  display: flex;
  align-items: top;
}

.home-headers h1 {
  font-size: 60px;
  color: #171236;
  font-weight: bold;
  font-family: 'Asap', sans-serif;
  width: 700px;
}

.home-headers h3 {
  font-size: 25px;
  color: #73F0D6;
  font-family: 'Asap', sans-serif;
}

// home buttons
.btn-get-started-home {
  padding: 22px 20px 22px 20px;
  background-color: #171236;
  width: 200px;
  position: relative;
  border-radius: 10px;
  margin-top: 50px;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
}

.btn-get-started-home:hover {
  color: white;
  border: none;
  box-shadow: 0px 0px 1px #5c7773;
  opacity: 0.8;
}

.banner-left {
  margin-right: 10px;

}

// footer styling

.flex-home-image {
  display: flex;
}

.background-home {
  height: 500px;
  background-size: cover;
  margin: -50px;
  margin-top: -420px;
  bottom: 0px;
}

// second banner part of page

.first-image, .second-image, .third-image {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
}

.first-image, .second-image, .third-image p {
  color: black;
  font-size: 24px;
}

.pound, .businessman, .people {
  margin-bottom: 20px;
}

.thetimes, .standard, .telegraph, .bbc {
  margin-top: 20px;
  opacity: 0.4;
}

.second-container {
  padding: 25px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
}

.third-container h1 {
  font-family: 'Asap', sans-serif;
  text-align: center;
  margin-top: 40px;
}

.flex-threeimages {
  display: flex;
  justify-content: space-evenly;
}

hr {
  margin-top: 0px;
  margin-bottom: 25px;
  border: 0;
  border-top: 3px solid #eeeeee;
}




//fourth container picture of business women including heading banner

.fourth-container {
  display: flex;
  position: relative;
  opacity: 0.5;
}

.header-fourth-container {
  position: absolute;
    top: 37%;
    left: 37%;
  border: solid 1px;
  border-color: #171236;
  padding: 10px;
  padding-top: 0px;
}

.header-fourth-container h1 {
  color: #171236;
}

// footer scss

.footer-homepage {
  padding: 40px;
  background-color: #171236;
}

.footer-homepage h3, h5 {
  color: white;
  text-align: center;
}

.footer-homepage p {
  font-size: 10px;
  color: white;
}

.footer-homepage h5 {
  margin-top: 30px;
}

