<div class="container">
  <div class="dashboard-container">
    <div class="dashboard-summary">
      <div class="current-risk-profile">
        <h2>Current Risk Profile</h2>
          <% content_for(:after_js) do %>
            <% invests = total_invested %>
            <%= pie_chart Investment.where(user_id: current_user.id).joins(:company).group(:risk_score).count, width: "50%" %>
            <script>
              chart = document.getElementById("chart-1");
              myDiv = document.querySelector(".current-risk-profile");
              myDiv.insertAdjacentElement("beforeend", chart);
            </script>
          <% end %>
      </div>
    </div>
    <div class="dashboard-figures">
      <div class="available-funds">
        <h2>Account Balance</h2>
        <p>£<%= number_with_delimiter(balance, delimiter: ',') %></p>
      </div>
      <div class="amount-invested">
        <h2>Total Investments</h2>
        <p>£<%= number_with_delimiter(total_invested, delimiter: ',') %></p>
      </div>
      <div class="expected-returns">
        <h2>Portfolio Expected Returns</h2>
        <p><%= avg_expected_return %>%</p>
      </div>
    </div>
  </div>
</div>




