<div class="wrapper">
  <div class="all-container">
    <div class="main-container">
        <div class="filter-container">

       </div>
      <div class="cards-container">


            <div class="card">
              <div class="card-information">
                <div class="card-info-top">
                  <div class="card-info-title">

                  </div>
                  <div class="card-info-tags">

                  </div>
                </div>
                <div class="card-info-bottom">

                </div>
              </div>
            <div class="btn-get-started">
            <%= link_to "More info", target: :blank %>
            <%= image_tag 'right_arrow_white.png', class: "arrow", width: 28, height: 59 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

