<div class="white-background">
  <div class="home-headers">
    <div class="banner-left">
      <h1>The UK's sharia-compliant lending marketplace</h1>
      <div class="banner-text">
        <h3><span id="banner-typed-text"></span></h3>
      </div>
      <div class="btn-get-started-home">
        <%= link_to "Get started", "#", data: {toggle: "modal", target: "#mySignUpModal"}%>
        <%= image_tag 'right_arrow_white.png', class: "arrow", width: 28, height: 59 %>
      </div>
    </div>
    <div class="banner-right">
      <%= image_tag 'iphone.png', class: "phone", height: 400 %>
    </div>
  </div>
  </div>
</div>
<div class="background-home" style="background-image: url('<%= image_path 'homepage.png' %>')"></div>

<div class="second-section-blue">
  <div class="second-white-header">
  <h5>“BeeShariah connects small businesses to lenders </br> through the UK’s Only fully Shariah compliant online marketplace.” Financial Times</h5>
  </div>
</div>

