<div class="white-background">
  <div class="home-headers">
    <div class="banner-left">
      <h1>The UK's sharia-compliant lending marketplace</h1>
      <div class="banner-text">
        <h3><span id="banner-typed-text"></span></h3>
        </div>
        <div class="btn-get-started-home">
        <%= link_to "Get Started" , new_user_registration_path, target: :blank %>
        <%= image_tag 'right_arrow_white.png', class: "arrow", width: 28, height: 59 %>
      </div>
    </div>
    <div class="banner-right">
      <%= image_tag 'phone.svg', class: "phone", width: 300, height: 500 %>
    </div>
  </div>
</div>


<div class="second-section-blue">
  <div class="second-blue-header">
  <h5>“BeeShariah connects small businesses to lenders </br> through the UK’s Only fully Shariah compliant online marketplace.” Financial Times</h5>
  </div>
</div>



<div class="third-section-white">
  <div class="third-white-header">

  </div>
</div>
