<div class="white-background">
  <div class="home-headers">
    <h1>The UK's sharia-compliant lending marketplace</h1>
    <h3><span id="banner-typed-text"></span></h3>
    <%= link_to  "invest", companies_path %>
    <%= link_to  "borrow", new_company_path %>
  </div>
</div>

