<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to  "invest", companies_path %>
<%= link_to  "borrow", new_company_path %>

<div class="white-background">
  <div class="home-headers">
    <h1>BeeSharia</h1>
    <h3><span id="banner-typed-text"></span></h3>
    </h3>
    <div class="btn-get-started">
    </div>
  </div>
</div>

