
<div class="wrapper_lawyer_new">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "company" %>


