.cards-container {
  margin: 0px 200px;
  background: white;
  margin-top: 15px;
  border-radius: 10px;
  padding: 19px 30px 15px 30px;
}

.card-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info-title {
  display: flex;
  align-items: center;
  p {
    font-weight: 12px;
    color: #818181;
  }
  h4 {
    margin-right: 10px;
  }
}

.card-info-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .tag {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #1C144C;
    color: white;
    border-radius: 60px;
    font-weight: medium;
    font-size: 14px;
  }
}

.card-info-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-right: 50px;
    font-size: 15px;
    font-weight: medium;
  }
}

.blue-arrow {
  margin-right: 10px;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days-remianing p {
  margin-bottom: 0px;
}
