.arrow {
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.btn-get-started {
  padding: 22px 10px 22px 20px;
  background-color: #73F0D6;
  width: 150px;
  position: relative;
  border-radius: 10px;
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
}

.btn-get-started:hover {
  background-color: #5fa99e;
  color: white;
  border: none;
  box-shadow: 0px 0px 1px #5c7773;
  opacity: 1.0;
}

//main button styling

// .main-button {
//   border-radius: 10px;
//   color: #1C144C;
//   background-color: white;
//   border-style: solid;
//   border-width:3px;
//   border-color: #73F0D6;
//   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
//   margin-bottom: 10px;
//   margin-top: 10px;
//   margin-left: 6px;

// }

// .btn-primary:hover {
//   color: #73F0D6;
//   background-color: white;
//   text-decoration: none;
//   border-color: #73F0D6;
//   opacity: 0.8;

// }

// .header {
//   text-align: center;
// }

// .mycontainer {
//   border: 10px;
// }

// .filter-button {
//   margin-top: 20px;
//   padding: 10px 30px;
//   background-color: white;
//   border-radius: 10px;
//   color: #1C144C;
//   text-decoration: none;
//   font-weight: bold;
//   font-size: 14px;
//   width: 200px;
//   border: 2px solid #1C144C;
// }

// .filter-button:hover {
//   color: white;
//   background-color: #1C144C;
// }
